body {
    font-family: "Montserrat";
}

#container {
    width: 1024px;
    margin: 0 auto;
}

.header-inner {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-icon {
    display: none;
}

.header {
    height: 249px;
    transition: background 0.6s cubic-bezier(.31,.85,.11,.99);
}

.header .nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header .nav-item {
    margin-right: 80px;
}

.header .nav-item:last-child {
    margin: 0;
}

.header .nav-item-link {
    font-size: 20px;
    color: #000;
    line-height: 24px;
}

.header-logo path {
    transition: background 0.6s cubic-bezier(.31,.85,.11,.99);
}